<a href="https://colab.research.google.com/github/krauseannelize/da-ms-unicorn-performance/blob/main/unicorn_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unicorn Data Exploration | Group 1 Submission

## Data Preparation

### Installing and importing packages

In [ ]:
import pandas as pd
import sqlalchemy as sa

### Making a connection

In [ ]:
unicorn_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Unicorn?sslmode=require"

# Making a connection with SQLAlchemy
engine = sa.create_engine(unicorn_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

### Questions to Explore

#### 1. How many customers do we have in the data?

In [ ]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  COUNT(customer_id) AS num_of_customers -- customer_id is a primary key, no need for DISTINCT
FROM
  customers
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   num_of_customers
0               795

#### 2. What was the city with the most profit for the company in 2015?

In [ ]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  city AS top_city
FROM (
  SELECT
	  o.shipping_city AS city
    , SUM(od.order_profits) AS total_profit
  FROM
	  order_details od
  LEFT JOIN
	  orders o
  ON
	  od.order_id = o.order_id
  WHERE
    EXTRACT(YEAR FROM o.shipping_date) = 2015
  GROUP BY
    o.shipping_city
  ORDER BY
    total_profit DESC
  LIMIT 1
  ) AS top_city_profits_2015
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

        top_city
0  New York City

#### 3. In 2015, what was the most profitable city's profit?

In [ ]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  TO_CHAR(total_profit, '$ 999,999,990.00') AS top_city_profits
FROM (
  SELECT
	  o.shipping_city AS city
    , SUM(od.order_profits) AS total_profit
  FROM
	  order_details od
  LEFT JOIN
	  orders o
  ON
	  od.order_id = o.order_id
  WHERE
    EXTRACT(YEAR FROM o.shipping_date) = 2015
  GROUP BY
    o.shipping_city
  ORDER BY
    total_profit DESC
  LIMIT 1
  ) AS top_city_profits_2015
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

    top_city_profits
0  $       14,670.00

#### 4. How many different cities do we have in the data? Please refer just to the city name and not similar city names in different states

In [ ]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  COUNT(DISTINCT shipping_city) AS num_of_cities
FROM
  orders
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   num_of_cities
0            531

#### 5. What is the most profitable city in the State of Tennessee?

In [ ]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  city AS top_city_tennessee
FROM (
  SELECT
	  o.shipping_city AS city
    , SUM(od.order_profits) AS total_profit
  FROM
	  order_details od
  LEFT JOIN
	  orders o
  ON
	  od.order_id = o.order_id
  WHERE
    o.shipping_state = 'Tennessee'
  GROUP BY
    o.shipping_city
  ORDER BY
    total_profit DESC
  LIMIT 1
  ) AS top_city_profits_tennessee
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

  top_city_tennessee
0            Lebanon

#### 6. What is the distribution of customer types in the data?

In [ ]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  customer_segment
  , COUNT(*) AS num_of_customers
FROM
  customers
GROUP BY
  customer_segment
ORDER BY
  num_of_customers DESC
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

  customer_segment  num_of_customers
0         Consumer               410
1        Corporate               237
2      Home Office               148

#### 7. Which was the biggest order regarding sales in 2015?

In [ ]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  od.order_id
  , TO_CHAR(SUM(od.order_sales), '$ 999,999,990.00') AS order_total
FROM
  order_details od
LEFT JOIN
  orders o
ON
	  od.order_id = o.order_id
WHERE
  EXTRACT(YEAR FROM o.shipping_date) = 2015
GROUP BY
  od.order_id
ORDER BY
  order_total DESC
LIMIT 1
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

         order_id        order_total
0  CA-2015-145317  $       23,660.00

#### 8. Display customer names for customers who are in the segment Consumer or Corporate. How many customers are there in total?

In [ ]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  customer_name
  , COUNT(*) OVER () AS num_of_customers -- Counts customers in 'Consumer' and 'Corporate' segments only
FROM
  customers
WHERE
  customer_segment IN ('Consumer', 'Corporate')
ORDER BY
  customer_name
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

          customer_name  num_of_customers
0         Aaron Bergman               647
1         Aaron Hawkins               647
2        Aaron Smayling               647
3             Adam Hart               647
4    Adam Shillingsburg               647
..                  ...               ...
642       Yana Sorensen               647
643      Yoseph Carroll               647
644        Zack Gibbens               647
645    Zuschuss Carroll               647
646  Zuschuss Donatelli               647

[647 rows x 2 columns]

#### 9. Calculate the difference between the largest and smallest order quantities for product id 100.

In [ ]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  MAX(od.quantity) - MIN(od.quantity) AS quantity_difference
FROM
  order_details od
JOIN
  product p
ON
  od.product_id = p.product_id
WHERE
  p.product_id = 100
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   quantity_difference
0                    4

#### 10. Calculate the percent of products that are within the category Furniture.

In [ ]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  ROUND(
    SUM(
    	CASE
      	WHEN product_category = 'Furniture' THEN 1
      	ELSE 0
    	END) * 100.0 / COUNT(product_id)
 		, 2) AS percent_furniture_products
FROM
  product
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   percent_furniture_products
0                       20.54

#### 11. Display the manufacturers with more than 1 product in the product table, with their number of products.
Note: Do not sort your results, and do not use distinct because it affects output order.

In [ ]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  product_manufacturer
  , COUNT(product_id) AS num_of_products
FROM
  product
GROUP BY
  product_manufacturer
HAVING
  COUNT(product_id) > 1
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

    product_manufacturer  num_of_products
0                 Linden                2
1                Iceberg                3
2                SanDisk                8
3                Memorex               13
4                Bulldog                2
..                   ...              ...
164              Brother                2
165           Strathmore                3
166              Fiskars                4
167             OtterBox                4
168           Pressboard                4

[169 rows x 2 columns]

#### 12. Show the product_subcategory and the total number of products in the subcategory.
Show the order for the *most* to *least* number of products.

In [ ]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
	product_subcategory
  , COUNT(product_id) AS num_of_products
FROM
	product
GROUP BY
	product_subcategory
ORDER BY
	num_of_products DESC
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   product_subcategory  num_of_products
0                Paper              277
1              Binders              211
2               Phones              189
3          Furnishings              186
4                  Art              157
5          Accessories              147
6              Storage              132
7           Appliances               97
8               Chairs               88
9               Labels               70
10            Machines               63
11              Tables               56
12           Bookcases               50
13           Envelopes               44
14            Supplies               36
15           Fasteners               34
16             Copiers               13

#### 13. Show the product_id(s), the sum of quantities, where for each sale of product quantities is greater than or equal to 100.

In [ ]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
    product_id
    , SUM(quantity) AS sum_quantities
FROM
    order_details
WHERE
    quantity >= 100
GROUP BY
    product_id
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   product_id  sum_quantities
0         122           143.0
1         920           130.0
2        1507           324.0
3        1600           216.0

####  Bonus question

Join all database tables into one dataset that includes all unique columns and download it as a .csv file.

In [ ]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
    o.order_date
    , o.order_id
    , c.customer_name
    , c.customer_segment
    , p.product_name
    , p.product_category
    , p.product_subcategory
    , p.product_manufacturer
    , o.shipping_city
    , o.shipping_state
    , o.shipping_region
    , o.shipping_date
    , o.shipping_mode
    , od.quantity
    , od.order_discount
    , od.order_profits
    , od.order_profit_ratio
    , od.order_sales
FROM
  customers c
LEFT JOIN
  orders o
ON
  c.customer_id = o.customer_id
LEFT JOIN
    order_details od
ON
  o.order_id = od.order_id
LEFT JOIN
    product p
ON
  od.product_id = p.product_id
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
# Assign the resulting DataFrame to a variable
unicorn_extract = pd.read_sql(sa.text(query), connection)

# Print head for verification
print("DataFrame head:")
print(unicorn_extract.head())

# Define the CSV filename
csv_filename = 'unicorn_extract.csv'

# Export the DataFrame to CSV
# index=False prevents pandas from writing the DataFrame index as a column in the CSV
unicorn_extract.to_csv(csv_filename, index=False)

# Confirm DataFrame has been exported to which CSV file
print(f"\nData successfully exported to {csv_filename}.")

DataFrame head:
  order_date        order_id    customer_name customer_segment  \
0 2015-09-06  CA-2015-100004     Bill Shonely        Corporate
1 2015-09-06  CA-2015-100004     Bill Shonely        Corporate
2 2015-09-07  CA-2015-100006      Dennis Kane         Consumer
3 2015-09-07  CA-2015-100032  Arthur Wiediger      Home Office
4 2015-09-07  CA-2015-100032  Arthur Wiediger      Home Office

                                    product_name product_category  \
0         Alphabetical Labels for Top Tab Filing  Office Supplies
1  Global Manager's Adjustable Task Chair, Storm        Furniture
2                              AT&T EL51110 DECT       Technology
3         Alphabetical Labels for Top Tab Filing  Office Supplies
4    Recycled Premium Regency Composition Covers  Office Supplies

  product_subcategory product_manufacturer  shipping_city shipping_state  \
0              Labels                Other  New York City       New York
1              Chairs               Global  New York City       New York
2              Phones                 AT&T  New York City       New York
3              Labels                Other  New York City       New York
4             Binders                Other  New York City       New York

  shipping_region shipping_date   shipping_mode  quantity  order_discount  \
0            East    2015-09-06        Same Day      62.0             0.1
1            East    2015-09-06        Same Day      18.0             0.2
2            East    2015-09-13  Standard Class       3.0             0.0
3            East    2015-09-13  Standard Class      53.0             0.1
4            East    2015-09-13  Standard Class      23.0             0.1

   order_profits  order_profit_ratio  order_sales
0          327.0                0.39        837.0
1          565.0                0.26       2174.0
2          110.0                0.29        378.0
3          272.0                0.38        715.0
4           96.0                0.31        311.0

Data successfully exported to unicorn_extract.csv.